<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Hate Crime Data</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Playfair+Display&display=swap" rel="stylesheet">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.css">
    <script src="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.js"></script>
    <link rel="stylesheet" href="styles/default-styles.css">
    <script src="src/loader.js" type="module"></script>
</head>

<body>
    <header>
        <h1>US Hate Crime Data</h1><br>
        <h2>From 1991 to 2014</h2>
    </header>
    <main>
        <div id='map'>
            <div id="controls">
                <button id="btn4" @click="changeView(3, lnglatUSA)">Recenter</button>
                <vue-range-slider v-model="year" min="1991" max="2014" tooltip-dir="botton" @input="storeUI">
                </vue-range-slider>
                <button @click="toggleMotivations">Motivations</button>
                <button @click="checkYear">Get Data</button>
                <button @click="clearMarkers">Clear Markers</button>
                <div id="biasButtons" hidden>
                    <template v-for="b in allBias">
                        <div>
                            <label v-bind:for="b"> <input type="checkbox" v-bind:id="b" v-bind:value="b" v-model="bias"
                                    class="biasButton" @click="storeUI"> {{b}}</label>
                        </div>

                    </template>
                </div>
                <button @click="resetControls">Reset Controls</button>
                <progress type="range" id="progressElement" min="0" max="49" v-bind:value="progress" disabled>
            </div>
        </div>
        <section id="statistics">
            <h1>{{year[0]}} - {{year[1]}}</h1>
            <div><b>Sort Cases:</b> <button @click="sortCases(false)">Descending</button> <button
                    @click="sortCases(true)">Ascending</button></div>
            <div>
                <label for="totalCount" @click="sortCases">
                    <input type="radio" class="biases" value="totalCount" id="totalCount" v-model="currentBias"> All
                </label>
                <template v-for="b in bias">
                    <label v-bind:for="b +'_stat'" @click="sortCases">
                        <input type="radio" class="biases" v-bind:value="b" v-bind:id="b+'_stat'" v-model="currentBias">
                        {{b}}
                    </label>
                </template>

            </div>
            <ul>
                <li v-for="c in cases">
                    <b>{{c.name}}:</b> {{c[currentBias]}}
                </li>
            </ul>
        </section>
    </main>

</body>

</html>